{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "examples",
            "bin"
        ]
    },
    "testFramework": "pest",
    "mutators": {
        "@default": true
    }
}
